.v-table.v-table--fixed-header > .v-table__wrapper > table > thead > tr > th {
    background: rgb(var(--v-theme-table-header)) !important;
    border-bottom: medium solid rgb(var(--v-theme-table-divider)) !important;
}

.v-table__wrapper{
    border: thin solid rgb(var(--v-theme-table-header)) !important;
}

tr > td {
    border-bottom: thin solid var(--v-theme-table-divider) !important;
}

tbody tr:nth-of-type(even) {
    background-color: rgb(var(--v-theme-table-row-even)) !important;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(var(--v-theme-table-row-odd)) !important;
}